/* UI */
.plugin.page .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100vw;
}

.plugin.page .container > * {
	width: 92vw;
}

.plugin.page .filecard {
	min-height: 50px;
	display: grid;
	grid-template-columns: 50px 1fr;
	border: 1px solid cyan;
	border-radius: 10px;
	align-items: center;
	padding: 3px;
}

.plugin.page .filecard .icon,
.plugin.page .filecard + .list > div .namecard .btn.icon {
	margin: auto;
	font-size: 1.25rem;
}

.plugin.page .filecard > div {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	gap: 5px;
}

.plugin.page .filecard > div .path {
	word-break: break-all;
}

.plugin.page .poscard {
	text-align: center;
	padding: 5px;
	white-space: pre-line;
}

.plugin.page .filecard + .list > .poscard, 
.plugin.page .filecard + .list > div > .namecard {
	min-height: 40px;
	margin-left: 10px;
	height: 70%;
	padding: 3px;
	border: 1px solid purple;
	border-radius: 5px;
}
.plugin.page .filecard + .list > div .namecard {
	display: grid;
	grid-template-columns: 1fr 40px;
}
.plugin.page .filecard + .list > div .namecard .text {
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: pre-line;
}

.plugin.page .filecard + .list > div .namecard + .list > .poscard {
	min-height: 30px;
	margin-left: 20px;
	height: 50%;
	padding: 1px;
	border: 1px solid lime;
	border-radius: 5px;
	width: calc(100% - 25px);
}

/* Marker */
.plugin.highlight {
	position: absolute;
	z-index: 99;
	border: .5px solid white;
}